<div class="section-header">
  <%= link_to '#', class: 'back-button' do %> <!-- link_to 'prefix selected_items' -->
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>
  <h2>Checkout</h2>
</div>
<div class="section-body">
  <div class="purchase-form">
    <%= simple_form_for @purchase do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :address %>
      <div class="total-cost-collapse">
        <div class="card-collapse">
          <div class="card-label">
            <p class="card-collapse-label">Total cost</p>
            <div class="total-cost-expand">
              <%# #{''} %>
              <p class="total-cost">13.97€</p>
              <%= link_to '#', class: 'expand-button' do %> <!-- link_to '/items/:item_id/selected_items' -->
                <i class="fa-solid fa-chevron-right" id="expand-button"></i>
              <% end %>
            </div>
          </div>
          <div class="card-details">
            <ul class="cart-items">
              <li>
                <div class="item-container">
                  <span class="item-name">Eggs</span>
                  <span class="subtotal-per-item">4.49€</span>
                </div>
              </li>
              <li>
                <div class="item-container">
                  <span class="item-name">Cheese</span>
                  <span class="subtotal-per-item">2.29€</span>
                </div>
              </li>
              <li>
                <div class="item-container">
                  <span class="item-name">Tomato</span>
                  <span class="subtotal-per-item">1.10€</span>
                </div>
              </li>
              <li>
                <div class="item-container">
                  <span class="item-name">Coca-cola</span>
                  <span class="subtotal-per-item">2.49€</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="terms-and-conditions">
        <p class="terms">By placing an order you agree to our Terms and Conditions</p>
      </div>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>