  <div class="header-buttons-container">
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-sm mr-2" %>
    <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-secondary btn-sm", data: {turbo_method: :delete} %>
  </div>

<div class="header text-center">
  <%= image_tag "snoop.png", alt: "Logo", width: 100, style: "margin-bottom: 5px; margin-top: 30px" %>
    <div>
      <div style="display: inline-block;">
        <i class="fa-solid fa-location-dot"></i> <p style="display: inline;">Barcelona, Spain</p>
      </div>
    </div>
</div>

<div class="search-bar text-center">
  <%= form_with url: items_path, method: :get, class: "search-form" do %>
    <div class="input-wrapper">
      <%= text_field_tag :query,
            params[:query],
            class: "search-input form-control",
            placeholder: "What can we help you find?"
        %>
      <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  <% end %>
</div>

<div class="category-card-container">
  <div class="row justify-content-center">
    <% @categories.each_slice(2) do |category_row| %>
      <div class="col-sm-4 my-3">
        <div class="d-flex justify-content-around">
          <% category_row.each do |category| %>
            <%= link_to category_path(category), class: "no-link-style" do %>
              <div class="card-category <%= category.color %>">
                <%= image_tag("categories/#{category.name}.png", alt: category.name, class: "card-image") %>
                <div style="margin-bottom: 15px;"><%= category.name %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="navbar fixed-bottom">
  <div class="button-column">
    <i class="fa-solid fa-shop"></i>
      <%= link_to root_path, class: "no-link-style" do %>
      <span>Shop</span>
    <% end %>
  </div>
  <div class="button-column">
    <i class="fa-solid fa-cart-shopping"></i>
    <span><%=link_to "Cart" , selected_items_path(@selected_item)%></span>
  </div>
  <div class="button-column">
    <i class="fa-solid fa-heart"></i>
<span>  "Favorite" </span>
  </div>
  <div class="button-column">

    <i class="fa-solid fa-user"></i>
    <span>Account</span>
  </div>
</div>
