<div class="container">
  <div class="row justify-content-center">
  <h5 class="card-title"><%= @category.name %></h5>
    <% @category.items.each_slice(2) do |item_slice| %>
      <div class="col-md-6 col-lg-4 my-3">
        <div class="d-flex justify-content-around">
          <% item_slice.each do |item| %>
            <%=link_to item_path(item), class: "no-link-style" do %>
              <div class="card-item" text-decoration="none">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="card" style="border-radius: 10px;">
                        <div class="card-body">
                          <%= image_tag "https://www.shutterstock.com/image-illustration/fruit-emoticons-various-facial-expressions-260nw-2374914719.jpg", alt: "Fruit", class: "fruit-image" %>
                          <h6 class="card-subtitle mb-2 text-muted"><strong><%= item.name %></strong></h6>
                          <p class="item-price"><strong>€<%= item.price %></strong></p>
                          <div class="d-flex justify-content-end">
                            <button class="btn btn-success btn-sm" type="button"><strong>+</strong></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
